* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;

    background-color: #f1f1f1;
}

.header-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 36px;
}

.header-nav {
    display: flex;
    
    gap: 16px;
}

.header-icons {
    display: flex;
    
    gap: 16px;
}

.fa-solid.fa-bars {
    display: none;
}

@media (max-width: 768px) {
    .fa-solid.fa-bars {
        display: block;
    }

    .header-nav {
        display: none;
    }
    
    .header-icons {
        display: none;
    }
}